/games
# history
/places
/history
/recentf
/eshell
# don't save tempfiles
*~
# automatically downloaded by init.el
/elpa
/transient
/quelpa
/url
/.cache
/eln-cache
/site-lisp
/auto-save-list
# idk what these are but i definately didn't make them myself so they go
network-security.data
tramp
.lsp-session-v1